---
title: Floating Panel
description: A component for displaying content in a movable, overlay panel that floats above other elements
---

<script>
  import {FloatingPanelDemo} from '$lib/demo';
  import {Anatomy} from '$lib/anatomy';
  import {Api} from '$lib/api';
  import Metadata from '$lib/metadata.svelte';
</script>

<svelte:head>
  <title>UI Ingredients | {title}</title>
</svelte:head>

<Metadata title="{title}" description="{description}" />

# {title}

{description}

## Usage
